* {
    margin: 0;
    font-family: "Inter", sans-serif;
    --blueish: #2d6c70;
    --link: #00403f;
    --hover: #00bfbc;
    font-size: 14px;
}


.nav {
    height: 70px;
}

.bold {
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 36px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.nav--heading {
    font-size: 50px;
    color: #133739;
}

.nav--toggle {
    position: absolute;
    left: 90%;
}

.nav-menu {
    align-self: flex-start;
    /* display: block; */
}

.nav--socials {
    width: 200px;
    display: flex;
    align-items: center;
}

.nav--socials--logo {
    position: relative;
    width: 40px;
    margin: 10px;
    opacity: 0.2;

    &:hover {
        transition: 0.3s;
        transform: translateY(-3px);
        opacity: 0.9;
        filter: drop-shadow(2px 2px grey);
    }
}


.project {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    border-radius: 14px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);


}



.project--photo {
    max-width: 500px;
    border-radius: 14px;

    &:hover {
        opacity: 80%;
        transition: 0.3s;
    }
}



.project--info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project--logos {
    margin-top: 10px;

}



.project--title {
    font-size: 40px;
    /* margin-bottom: 16px; */
    color: var(--blueish);
}

.project--subtitle {
    color: grey;
    margin-top: 10px;
}

.project--p {
    margin-top: 10px;
    font-size: 20px;
}

.project--websitelink {
    margin-top: 10px;
    font-size: 20px;
    color: var(--link);

    & :visited {
        color: var(--link);
    }

    &:hover {
        color: var(--hover);
    }
}


.project--githublogo {
    margin-top: 10px;
    cursor: pointer;
    opacity: 50%;

    &:hover {
        opacity: 95%;
        transition: 0.3s;
    }
}


.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    opacity: 0.2;
}